/*? google fonts are here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*? google fonts are here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? shared styles */
.display_flex {
  display: flex;
}
/* dark 02 */
.text_gray {
  color: #424242;
}
/* dark 03 */
.text_light_gray {
  color: #727272;
}
/* orange 2 */
.text_orange {
  color: #FF900E;
}
/* bg_light_color */
.bg_light {
  background-color: rgba(255, 144, 14, 0.10);
}
.btn_primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}
main {
  max-width: 1240px;
  margin: 0 auto;
}
.section_title {
  font-size: 2.8rem;
  font-weight: 700;
}
/*? shared styles */

/* header section Starts here */
/* navbar section Starts here */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav_item {
  list-style: none;
  margin-right: 30px;
}
.nav_link {
  text-decoration: none;
}

.navbar,.banner {
  max-width: 1240px;
  margin: 0 auto;
}
/* navbar section Ends here */
/* Banner section Starts here */
.banner_content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-block: 3.2rem;
}
.banner_title {
  font-weight: 700;
  font-size: 4rem;
}
.banner_description {
  margin-block: 1.5rem;
}
.banner_img {
  width: 100%;
}
/* Banner section Ends here */
/* header section Ends here*/

/* main section starts here */
/* Teams section starts here */
.teams {
  align-items: center;
  gap: 3rem;
  margin-block: 3rem;
}
.team_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}
.our_features {
  max-width: 530px;
}
#quick_list {
  font-weight: 500;
}
.feature_description {
  margin-block: 1rem;
}
/* Teams section Ends here */
/*? Feature will enjoy section Starts here */

/*? Feature will enjoy section Ends here */
/*? Some facts section Starts here */
.some_facts_section {
  margin-block: 3rem;
}
.facts_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.fact_description {
  max-width: 540px;
  margin-top: 0.6rem;
  margin-bottom: 3rem;
}
.fact_card {
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fact_number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-block: 0.5rem;
}
.fact_name {
  font-size: 1.1rem;
}
/*? Some facts section Ends here */
/* main section Ends here */



/*? Responsive media query for small devices */
@media screen and (max-width: 576px) {
  .navbar, 
  .nav_links,
  .teams {
    flex-direction: column;
  }
  .banner_title, .section_title {
    font-size: 2rem;
  }
  .btn_primary {
    font-size: 1rem;
    padding: 12px 16px;
  }
  .team_img_container, .facts_container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .fact_card {
    margin-bottom: 1.2rem;
  }
  .fact_description,.section_title, .feature_description {
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}

/*? Responsive media query for Medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .team_img_container, .facts_container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .team_img_container img {
    width: 90%;
    margin-left: 14px;
  }
  .fact_card {
    margin-bottom: 1.2rem;
  }
  .fact_description,.section_title, .feature_description {
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}